# dependencies
node_modules
.pnp.*

# build output
dist
*.local
_gh-pages
.remote-assets
.vite-inspect

# editor / system
.DS_Store
*.log
*.tmp
*.swp
*.swo
Thumbs.db

# Slidev-generated
components.d.ts
slidev-theme-*/dist

# environment / local config
.env
.env.local
.env.*.local

# pnpm / workspace stuff
.pnpm-debug.log
pnpm-debug.log*
.npmrc
.cache/

# IDEs
.idea/
.vscode/
*.code-workspace
